    <div class="login-container">
        <h1>Registrop de usuario</h1>

        <input type="text"
            id="Tbx_name"
            placeholder="Digite sun nombre"
        >
        <input
            type="email"
            id="Tbx_email"
            placeholder="Digite su correo electrónico"
        >

        <input
            type="password"
            id="Tbx_password"
            placeholder=" Digite su contraseña C"
        >

        <button id="btn_login">
            Registrar
        </button>
    </div>