*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

body{
    background-color: brown;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.master_login{
    border-color: black solid 3px;
    background-color: black;
}