*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

body {
    background: linear-gradient(150deg, chocolate, darksalmon);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    /* CONTROL DE ALTURA (El truco para centrar verticalmente) */
    margin: 0;
    min-height: 100vh; 
    
    /* ALINEACIÓN CON FLEXBOX */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    flex-direction: column;
    
    padding: 10px;
    box-sizing: border-box;
    animation: fondo 1s  infinite;
}


.login-container{
    width:400px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.login-container h1{
    text-align:center;
    margin-bottom:30px;
    color:#333;
}

.login-container select,
.login-container input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
    font-size:15px;
}

.login-container input:focus,
.login-container select:focus{
    border-color:chocolate;
}

.login-container button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:linear-gradient(
        250deg,
        chocolate,
        darksalmon
    );
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.login-container button:hover{
    transform:translateY(-2px);
}

.login-container p{
    margin-top:20px;
    text-align:center;
}

.login-container a{
    text-decoration:none;
    color:chocolate;
    font-weight:bold;
}